/**
 * ╭───────────────────────────────────────────────────────────────╮
 * │       Color Palette (copied from the SVG stylesheet)          │
 * ╰───────────────────────────────────────────────────────────────╯
**/

/* Base color palette -- https://coolors.co/9cf6f6-f3c98b-daa588-c46d5e-f56960 */
:root {
  --color-palette-a: #9CF6F6;
  --color-palette-b: #F3C98B;
  --color-palette-c: #DAA588;
  --color-palette-d: #C46D5E;
  --color-palette-e: #F56960;
}

/* Derived color palette -- when lighter or darker shades are required */
:root {
  --color-palette-a-light: #DAFCFC;
  --color-palette-b-light: #FBEEDA;
  --color-palette-c-light: #F5E7E0;
  --color-palette-d-light: #EED7D2;
  --color-palette-e-light: #FBC9C5;
  
  --color-palette-a-dark: #0E9595;
  --color-palette-b-dark: #CB8215;
  --color-palette-c-dark: #9C5630;
  --color-palette-d-dark: #77372C;
  --color-palette-e-dark: #99130A;
}

:root {
  --fg-normal-shadow: #8bb8;
  --fg-normal-border: #666;
  --fg-normal:        #aaa;
  --bg-normal:        #fff;
  /* special keys */
  --fg-special:       #555;
  --bg-special:       #e4e4e4;
  /* 'reach' theme */
  --bg-number:        var(--color-palette-a-light);
  --bg-letter:        var(--color-palette-b-light);
  --bg-home:          var(--color-palette-d-light);
}

@media (prefers-color-scheme: dark) { :root {
  --fg-normal-shadow: #8558;
  --fg-normal-border: #666;
  --fg-normal:        #bbb;
  --bg-normal:        #4d4d4d;
  /* special keys */
  --fg-special:       #888;
  --bg-special:       #333;
  /* 'reach' theme */
  --bg-number:        var(--color-palette-a-dark);
  --bg-letter:        var(--color-palette-b-dark);
  --bg-home:          var(--color-palette-d-dark);
}}


/**
 * ╭───────────────────────────────────────────────────────────────╮
 * │                  Theme & Geometry Selection                   │
 * ╰───────────────────────────────────────────────────────────────╯
**/

.keyboard [hidden] {
  visibility: hidden;
}

.keyboard form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 0 5em;
}

.keyboard fieldset {
  border: none;
  padding: 0 1px;
  margin: 0;
  text-wrap: balance;
  text-align: center;
  display: flex;
  position: relative;
}

.keyboard form fieldset input {
  border-radius: 0px;
  border-top: 1px solid #6668;
  border-bottom: 1px solid #6668;
  box-sizing: border-box;
  border: none;
  z-index: 1;
  color: var(--fg-normal);
}

.keyboard form fieldset::before{
  content: '';
  position: absolute;
  left:0;
  height: 100%;
  border: 0.5px solid var(--fg-normal);
  border-radius: 0.2em;
  transition: .5s left ease;
}

.keyboard form fieldset:has(:nth-child(1)) input,
.keyboard form fieldset:has(:nth-child(1))::before {
  width: 100%;
}
.keyboard form fieldset:has(:nth-child(2)) input,
.keyboard form fieldset:has(:nth-child(2))::before {
  width: 50%;
}
.keyboard form fieldset:has(:nth-child(3)) input,
.keyboard form fieldset:has(:nth-child(3))::before {
  width: 33%;
}
.keyboard form fieldset:has(:nth-child(4)) input,
.keyboard form fieldset:has(:nth-child(4))::before {
  width: 25%;
}
.keyboard form fieldset:has(:nth-child(5)) input,
.keyboard form fieldset:has(:nth-child(5))::before {
  width: 20%;
}
.keyboard form fieldset:has(:nth-child(6)) input,
.keyboard form fieldset:has(:nth-child(6))::before {
  width: 16.67%;
}

.keyboard form fieldset:has(:nth-child(2)):has(:nth-child(1):checked)::before {
  left: 0%;
}
.keyboard form fieldset:has(:nth-child(2)):has(:nth-child(2):checked)::before {
  left: 50%;
}

.keyboard form fieldset:has(:nth-child(3)):has(:nth-child(1):checked)::before {
  left: 0%;
}
.keyboard form fieldset:has(:nth-child(3)):has(:nth-child(2):checked)::before {
  left: 33%;
}
.keyboard form fieldset:has(:nth-child(3)):has(:nth-child(3):checked)::before {
  left: 66%;
}

.keyboard form fieldset:has(:nth-child(4)):has(:nth-child(1):checked)::before {
  left: 0%;
}
.keyboard form fieldset:has(:nth-child(4)):has(:nth-child(2):checked)::before {
  left: 25%;
}
.keyboard form fieldset:has(:nth-child(4)):has(:nth-child(3):checked)::before {
  left: 50%;
}
.keyboard form fieldset:has(:nth-child(4)):has(:nth-child(4):checked)::before {
  left: 75%;
}

.keyboard form fieldset:has(:nth-child(5)):has(:nth-child(1):checked)::before {
  left: 0%;
}
.keyboard form fieldset:has(:nth-child(5)):has(:nth-child(2):checked)::before {
  left: 20%;
}
.keyboard form fieldset:has(:nth-child(5)):has(:nth-child(3):checked)::before {
  left: 40%;
}
.keyboard form fieldset:has(:nth-child(5)):has(:nth-child(4):checked)::before {
  left: 60%;
}
.keyboard form fieldset:has(:nth-child(5)):has(:nth-child(5):checked)::before {
  left: 80%;
}

.keyboard form fieldset:has(:nth-child(6)):has(:nth-child(1):checked)::before {
  left: 0%;
}
.keyboard form fieldset:has(:nth-child(6)):has(:nth-child(2):checked)::before {
  left: 16.6%;
}
.keyboard form fieldset:has(:nth-child(6)):has(:nth-child(3):checked)::before {
  left: 33.3%;
}
.keyboard form fieldset:has(:nth-child(6)):has(:nth-child(4):checked)::before {
  left: 50%;
}
.keyboard form fieldset:has(:nth-child(6)):has(:nth-child(5):checked)::before {
  left: 66.6%;
}
.keyboard form fieldset:has(:nth-child(6)):has(:nth-child(6):checked)::before {
  left: 83.3%;
}

.keyboard form input {
  box-sizing: border-box;
  width: auto;
  height: auto;
  line-height: 1.8em;
  font-size: 0.8em;
  appearance: none;
  outline: none;
  padding: 0 8px;
  margin: 2px 0;
  /* background-color: var(--bg-special); */
  color: var(--fg-special);
  transition: all 50ms linear;
  cursor: pointer;
}

.keyboard form input:hover {
  /* background-color: var(--bg-accent); */
  /* color: var(--bg-accent); */
  opacity: 1;
}

.keyboard form input:checked {
  /* background-image: linear-gradient(180deg, var(--bg-letter), var(--bg-home));
  background-color: var(--bg-normal); */
  font-weight: bold;
  opacity: 1;
}

.keyboard form input:before {
  content: attr(label);
  display: inline-block;
  text-align: center;
}

@media only screen and (min-width: 600px) {
  .keyboard form { justify-content: space-between; }
}


/**
 * ╭───────────────────────────────────────────────────────────────╮
 * │                        Navigation Bar                         │
 * ╰───────────────────────────────────────────────────────────────╯
**/

.keyboard nav {
  display: none;
  text-align: center;
  text-wrap: balance;
  margin: -0.5em auto 1.5em;
}

.keyboard nav a,
.keyboard nav button {
  display: none;
  box-sizing: border-box;
  margin: 2px 1px;
  padding: 0 6px;
  font-family: sans-serif;
  text-decoration: none;
  font-size: 0.85em;
  color: var(--fg-disabled);
  background-color: transparent;
}

.keyboard nav button {
  font-weight: bold;
  cursor: pointer;
}

.keyboard [disabled] {
  pointer-events: none;
  opacity: 0.3;
}

@media only screen and (min-width: 480px) {
  .keyboard nav   { display: block;  }
  .keyboard nav a { display: inline; }
}

@media only screen and (min-width: 768px) {
  .keyboard nav a,
  .keyboard nav button {
    display: inline-block;
    height: 2.2em;
    line-height: 3em;
    border: 1px solid var(--fg-disabled);
    border-radius: 5px;
  }
  .keyboard nav a:hover,
  .keyboard nav button:hover {
    text-decoration: none;
    color: var(--fg-main);
    border-color: var(--fg-main);
  }
}


/**
 * ╭───────────────────────────────────────────────────────────────╮
 * │                      Keyboard Emulation                       │
 * ╰───────────────────────────────────────────────────────────────╯
**/

.keyboard dialog {
  max-width: 70em;
  width: 100%;
  padding: 2em;
  margin: auto;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: var(--bg-main);
  border: 5px solid var(--bg-banner);
}

.keyboard input {
  box-sizing: border-box;
  border-radius: 6px;
  width: 100%;
  height: 2em;
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 1em;
}


/**
 * ╭───────────────────────────────────────────────────────────────╮
 * │                        Keyboard Footer                        │
 * ╰───────────────────────────────────────────────────────────────╯
**/

.keyboard {
  margin-bottom: 2.5em;
}

.keyboard p {
  margin: 0 0 1em;
  text-align: right;
}

.keyboard p span {
  float: left;
  font-size: smaller;
}
