/**
 * ╭───────────────────────────────────────────────────────────────╮
 * │                         Color Palette                         │
 * ╰───────────────────────────────────────────────────────────────╯
**/

/* Base color palette -- https://coolors.co/9cf6f6-f3c98b-daa588-c46d5e-f56960 */
:root {
  --color-palette-a: #9CF6F6;
  --color-palette-b: #F3C98B;
  --color-palette-c: #DAA588;
  --color-palette-d: #C46D5E;
  --color-palette-e: #F56960;
}

/* Derived color palette -- when lighter or darker shades are required */
:root {
  --color-palette-a-light: #DAFCFC;
  --color-palette-b-light: #FBEEDA;
  --color-palette-c-light: #F5E7E0;
  --color-palette-d-light: #EED7D2;
  --color-palette-e-light: #FBC9C5;
  
  --color-palette-a-dark: #0E9595;
  --color-palette-b-dark: #CB8215;
  --color-palette-c-dark: #9C5630;
  --color-palette-d-dark: #77372C;
  --color-palette-e-dark: #99130A;
}

/* Keycap color palette -- for generating realistic keycaps */
:root {
  --keycap-color-a: #282828;
  --keycap-color-b: #202020;
  --keycap-color-c: #232323;
  --keycap-color-d: #4a4a4a;
  --keycap-color-e: #0009;
  --keycap-color-f: #0004;
  --keycap-color-i: rgba(255, 255, 255, 1.0);
  --keycap-bs-1: rgba(0, 0, 0, 0.15);
  --keycap-bs-2: rgba(0, 0, 0, 0.25);
  --keycap-bs-3: rgba(0, 0, 0, 0.75);
  --keycap-bs-4: rgba(0, 0, 0, 0.25);
}


:root {
  color-scheme: light dark;

  /* <html|body|main> background and text colors */
  --bg-root:          white;
  --bg-main:          white;
  --bg-main-shadow:   #ccc;
  --fg-main-border:   #eee;
  --fg-main:          #222;

  /* banner -- the foreground matches the favicon #rocket color */
  --bg-banner:        white;
  --fg-banner-border: #5446;
  --fg-banner:        #544;

  /* <h2|a|code> and specific emphasis */
  --bg-accent:        var(--color-palette-d-light);
  --fg-accent-border: var(--color-palette-d);
  --fg-accent:        var(--color-palette-d);

  /* <kbd> and special inline content */
  --key-bg:              #6a6a6a;
  --key-bg-gradient:     #282828;
  --key-border:          #202020;
  --key-border-gradient: #232323;
  --key-fg:              rgba(255, 255, 255, 0.85);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* <html|body|main> background and text colors */
    --bg-root:          #151417;
    --bg-main:          #1a1a1f;
    --bg-main-shadow:   #111;
    --fg-main-border:   #111;
    --fg-main:          #ccc;

    /* banner -- the foreground matches the favicon #rocket color */
    --bg-banner:        #29292d;
    --fg-banner-border: #cbb5;
    --fg-banner:        #cbb;

    /* <h2|a|code> and specific emphasis */
    --fg-accent-border: #f967;
    --fg-accent:        #f96;
  }
}

/**
 * ╭───────────────────────────────────────────────────────────────╮
 * │                             Fonts                             │
 * ╰───────────────────────────────────────────────────────────────╯
**/
:root {
  --main-font-family: sans-serif;
  --code-font-family: sans-serif;
}


/**
 * ╭───────────────────────────────────────────────────────────────╮
 * │                          Main Layout                          │
 * ╰───────────────────────────────────────────────────────────────╯
**/

:root {
  --main-padding: 12px;
  --list-indent: 1.5em;
}

html {
  height: 100%;
  width:  100%;
  font-family: var(--main-font-family);
  background-color: var(--bg-root);
  /* scroll-behavior: smooth; */
}

.quack {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><text y='1em' font-size='5rem'>🦆</text></svg>");
  background-repeat: repeat;
  background-size: 10rem;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  max-width: 60em;
  min-height: 100%;

  line-height: 1.4em;
  border-left:  1px solid var(--fg-main-border);
  border-right: 1px solid var(--fg-main-border);
  box-shadow: 0px 1px 10px var(--bg-main-shadow);
  background-color: var(--bg-main);
  color: var(--fg-main);
}

main {
  display: block; /* enable 'flex' here on a per-page basis */
  flex: fit-content;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 var(--main-padding);
}

h2 {
  color: var(--fg-accent);
  border-bottom: 1px inset var(--fg-accent-border);
}

h3 {
  border-bottom: 1px dotted;
}

h2, h3, footer {
  margin-top: 2em;
}

article time {
  display: block;
  font-size: smaller;
  text-align: right;
  margin-top: -1.5em;
}

dialog::backdrop {
  backdrop-filter: blur(5px);
}

.highlight {
  max-width: 42em;
  margin: auto;
  padding: 1em;
  background-color: var(--bg-banner);
}

sup { /* match the <body> 1.4em line-height */
  vertical-align: super;
  line-height: 0.4em;
}

ol, ul {
  padding-left: var(--list-indent);
  margin-left: 0;
}

.dialog > ul {
  list-style-type: "— ";
  padding-left: 2ch;
}

dd {
  margin-left: var(--list-indent);
  padding-left: 0;
}

dd,
dt {
  margin-bottom: 0.5em;
}

li,
dd p {
  margin: 0.2em 0;
}

a[href] {
  color: var(--fg-accent);
  text-decoration: none;
}

a[href]:hover {
  text-decoration: underline;
}


/**
 * ╭───────────────────────────────────────────────────────────────╮
 * │            Figures, Tables, Code Blocks, Quotations           │
 * ╰───────────────────────────────────────────────────────────────╯
**/

table {
  width: 100%;
}

th, td {
  padding: 0.2em 0.5em;
}

table caption {
  caption-side: bottom;
}

figure {
  margin: 2em 0;
  text-align: center;
}

pre {
  overflow: scroll;
  background-color: var(--bg-banner);
  padding: 0.5em 1em;
}

pre code {
  background-color: transparent;
  font-family: monospace;
  font-weight: normal;
  padding: 0;
}

figure figcaption,
figure img {
  margin: auto;
  max-width: 100%;
}

img {
  max-width: 100%;
}

blockquote {
  margin: 0;
  padding: .5em 2em .5em 3em;
  position: relative;
}

blockquote::before {
  content: "»";
  font-size: 2em;
  position: absolute;
  top: 0.25em;
  left: 0.5em;
}

cite {
  display: block;
  text-align: right;
  text-wrap: balance;
  font-style: normal;
}


/**
 * ╭───────────────────────────────────────────────────────────────╮
 * │                        Header & Footer                        │
 * ╰───────────────────────────────────────────────────────────────╯
**/

#banner {
  min-height: 50px;
  box-sizing: border-box;
  background: left var(--main-padding) center no-repeat url(../favicon.svg);
  background-size: 50px;
  background-color: var(--bg-banner);
  padding: .5em 0 0.5em calc(var(--main-padding) + 64px);
  border-bottom: 1px solid var(--fg-banner-border);
}

#banner p.title {
  font-size: 2em;
  font-weight: bold;
}

#banner p {
  margin: 0.4em 0 0;
}

#banner,
#banner a,
footer {
  color: var(--fg-banner);
}

footer {
  padding-left:  var(--main-padding);
  padding-right: var(--main-padding);
  border-top: 1px solid var(--fg-banner-border);
  text-align: right;
}

h1 {
  text-align: center;
  font-size: 2em;
  line-height: 1em;
  margin: 1.8em auto 1.2em;
}

h1 + time {
  display: block;
  text-align: right;
  margin: -1.5em auto 0;
}

h1 + p {
  text-align: center;
  text-wrap: balance;
  margin: -1em auto 2em;
}

footer {
  padding-bottom: 0.5rem;
}

footer small {
  float: left;
}


/**
 * ╭───────────────────────────────────────────────────────────────╮
 * │                        Navigation Menus                       │
 * ╰───────────────────────────────────────────────────────────────╯
**/

header + nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style-type: none;
  padding: 0 var(--main-padding);
  margin: 0;
  background-color: var(--bg-main);
}

header + nav a {
  display: inline-block;
  padding: 0.2em 1em;
}

header + nav li {
  padding: 0;
  margin: 0;
}

header + nav li:has(.active) a {
  background-color: var(--bg-main);
  color: var(--fg-banner);
}

/* submenus */
header + nav ul ul {
  display: none;
}

@media only screen and (min-width: 480px) {
  header + nav {
    position: sticky;
    z-index: 10;
    top: 0;
  }
}


/**
 * ╭───────────────────────────────────────────────────────────────╮
 * │                          Keys & Chars                         │
 * ╰───────────────────────────────────────────────────────────────╯
**/

kbd,
span.odk {
  /* Match the page defaults in light mode but switch to a light-ish grey in dark mode */
  background: linear-gradient(90deg, var(--key-bg), var(--key-bg-gradient));
  /* background-color: white; */
  color: var(--key-fg);

  /* Round off the corners like physical keys have */
  border-radius: 0.25rem;

  /* Add a simple border */
  border: 1px solid var(--key-border);

  /* A sharp shadow (with no blur) really gives the old school keyboard look */
  box-shadow: 0 2px 0 1px var(--key-border);
  /* Remove the text cursor — totally optional but I wanted it for my hover effect */
  cursor: default;
  font-family: var(--code-font-family);
  font-size: 0.8em;
  /* Remove any extra space so I can accurately tweak the padding */
  line-height: 1;

  /* Make narrow numbers and letters look less odd */
  min-width: 0.8rem;
  /* `min-width` doesn’t work on inline elements */
  display: inline-block;
  /* Keep the characters centred when narrower than the `max-width` */
  text-align: center;

  /* Seemed to look more key-like with more horizontal padding 🤷 */
  padding: 3px 5px 2px 5px;
  margin: 0 0.2em 0 0.2em;

  /* These two lines pull the whole element up now that they’re bottom-heavy due to the `box-shadow`. This looks better against the cap height of regular paragraph text. */
  position: relative;
  top: -1.5px;

  /* This is my favourite part of the whole thing. The key gets “pushed” down and the shadow gets reduced so it looks like it might when typing on a physical keyboard. */
  &:hover {
      box-shadow: 0 1.5px 0 0.5px linear-gradient(0deg, var(--key-border), var(--key-border-gradient));
      top: 1px;
  }
}
  

code { /* character, digrams, trigrams */
  font-weight: bold;
  font-family: var(--code-font-family);
  background-color: var(--bg-accent);
  padding: 2px 4px;
  border-radius: 0.25em;
}


/**
 * ╭───────────────────────────────────────────────────────────────╮
 * │                          Desktop Mode                         │
 * ╰───────────────────────────────────────────────────────────────╯
**/

@media only screen and (min-width: 768px) {
  :root {
    --main-padding: 40px;
    --list-indent: 2.5em;
  }
  .highlight {
    border-radius: 6px;
  }

  /* tab-like navigation bar */
  header + nav ul {
    justify-content: flex-start;
    background-color: var(--bg-banner);
  }

  /* display navigation submenus, not sure it s a good idea though */
  header + nav li:has(.active) ul {
    display: flex;
    position: absolute;
    left: 0;
    width: 100%;
    padding: 0 var(--main-padding);
    box-sizing: border-box;
    background-color: var(--bg-main);
  }
  header + nav li:has(.active) li {
    border: none;
    font-size: smaller;
  }
  header + nav li:has(.active) a {
    color: var(--fg-accent);
  }
  header + nav li:has(.active) a.active {
    color: var(--fg-banner);
  }

  figure figcaption,
  figure img {
    max-width: 45em;
  }
}
