/**
 * ╭───────────────────────────────────────────────────────────────╮
 * │                         Color Palette                         │
 * ╰───────────────────────────────────────────────────────────────╯
**/

:root {
    color-scheme: light dark;

    /* <html|body|main> background and text colors */
    --bg-root: #ccc;
    --bg-main: #fff;
    --bg-main-shadow: #888;
    --fg-main-border: #aaa;
    --fg-main: #222;

    /* banner -- the foreground matches the favicon #rocket color */
    --bg-banner: #fff;
    --fg-banner-border: #5446;
    --fg-banner: #544;

    /* <h2|a|code> and specific emphasis */
    --bg-accent: #b884;
    --fg-accent-border: brown;
    --fg-accent: var(--color-palette-d);

    /* <kbd> and special inline content */
    --bg-key: #8884;
    --fg-key-border: #888;

    --keycap-width: 2em;
}

:root {
    --color-palette-a: #9CF6F6;
    --color-palette-b: #F3C98B;
    --color-palette-c: #DAA588;
    --color-palette-d: #C46D5E;
    --color-palette-e: #F56960;

    --color-palette-a-light: #DAFCFC;
    --color-palette-b-light: #FBEEDA;
    --color-palette-c-light: #F5E7E0;
    --color-palette-d-light: #EED7D2;
    --color-palette-e-light: #FBC9C5;
    --color-palette-a-dark: #0E9595;
    --color-palette-b-dark: #CB8215;
    --color-palette-c-dark: #9C5630;
    --color-palette-d-dark: #77372C;
    --color-palette-e-dark: #99130A;



    --home-banner-text-color: #232323;
}

@media (prefers-color-scheme: dark) {
    :root {
        /* <html|body|main> background and text colors */
        --bg-root: #151417;
        --bg-main: #232323;
        --bg-main-shadow: #111;
        --fg-main-border: #111;
        --fg-main: #ccc;

        /* banner -- the foreground matches the favicon #rocket color */
        --bg-banner: #29292d;
        --fg-banner-border: #cbb5;
        --fg-banner: #cbb;

        /* <h2|a|code> and specific emphasis */
        --fg-accent-border: #f967;
        --fg-accent: #f96;

        --home-banner-text-color: #rgba(255, 255, 255, 0.7);
    }
}

/**
 * ╭───────────────────────────────────────────────────────────────╮
 * │                             Fonts                             │
 * ╰───────────────────────────────────────────────────────────────╯
**/

/* @font-face {
  font-family: 'Coves';
  src: url("../fonts/Coves Light.otf") format("opentype"), url(../fonts/Coves+Light.woff2) format('woff2');
  font-weight: normal
}
@font-face {
    font-family: 'Coves';
    src: url("../fonts/Coves Bold.otf") format("opentype"), url(../fonts/Coves+Bold.woff) format('woff');
    font-weight: bold
} */

@font-face {
    font-family: 'GeneralSans-Variable';
    src: url('../fonts/general-sans/GeneralSans-Variable.woff2') format('woff2'),
        url('../fonts/general-sans/GeneralSans-Variable.woff') format('woff'),
        url('../fonts/general-sans/GeneralSans-Variable.ttf') format('truetype');
    font-weight: 200 700;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'GeneralSans-Variable';
    src: url('../fonts/general-sans/GeneralSans-VariableItalic.woff2') format('woff2'),
        url('../fonts/general-sans/GeneralSans-VariableItalic.woff') format('woff'),
        url('../fonts/general-sans/GeneralSans-VariableItalic.ttf') format('truetype');
    font-weight: 200 700;
    font-display: swap;
    font-style: italic;
}


/**
 * ╭───────────────────────────────────────────────────────────────╮
 * │                          Main Layout                          │
 * ╰───────────────────────────────────────────────────────────────╯
**/

:root {
    --main-padding: 12px;
    --list-indent: 1.5em;
}

html {
    height: 100%;
    width: 100%;
    font-family: 'GeneralSans-Variable', sans-serif;
    font-size: 12pt;
    background-color: var(--bg-root);
    /* scroll-behavior: smooth; */
}

.quack {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><text y='1em' font-size='5rem'>🦆</text></svg>");
    background-repeat: repeat;
    background-size: 10rem;
}

body {
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    min-height: 100%;

    line-height: 1.8em;
    border-left: 1px solid var(--fg-main-border);
    border-right: 1px solid var(--fg-main-border);
    box-shadow: 0px 1px 10px var(--bg-main-shadow);
    background-color: var(--bg-main);
    color: var(--fg-main);
}

.inner-container {
    max-width: 60em;
    margin: auto;
    box-sizing: border-box;
}

main {
    display: block;
    /* enable 'flex' here on a per-page basis */
    background:
        linear-gradient(177deg, var(--color-palette-b) 2vh, rgba(0, 0, 0, 0) 30vh);
    /* linear-gradient(165deg, var(--color-palette-d) 0%, rgba(0, 0, 0, 0) 35vh); */
    /* background:
    linear-gradient(50deg, var(--color-palette-a) 0%, rgba(0, 0, 0, 0) 20%),
    linear-gradient(118deg, var(--color-palette-b)0%, rgba(0, 0, 0, 0) 30%),
    linear-gradient(165deg, var(--color-palette-c) 0%, rgba(0, 0, 0, 0) 40%),
    linear-gradient(135deg, var(--color-palette-d), 75%, var(--color-palette-e) 90%); */
    flex: fit-content;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 var(--main-padding);
}

main h2 {
    background-image: linear-gradient(to left, var(--color-palette-a), var(--color-palette-c));
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    margin-left: -0.75em;
}

main h2:before,
main h3:before {
    padding: 0 0.25em 0 0;
    content: "#";
    font-weight: normal;
}

main h3 {
    background-image: linear-gradient(to left, var(--color-palette-e), var(--color-palette-c));
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    margin-left: -0.75em;
}

main h2,
main h3,
footer {
    margin-top: 2em;
}

article time {
    display: block;
    font-size: smaller;
    text-align: right;
    margin-top: -1.5em;
}

dialog::backdrop {
    backdrop-filter: blur(5px);
}

.highlight {
    max-width: 42em;
    margin: auto;
    padding: 1em;
    background-color: color-mix(in srgb, var(--color-palette-a) 10%, white);
    border: 1px solid var(--color-palette-a);
}

sup {
    /* match the <body> 1.4em line-height */
    vertical-align: super;
    line-height: 0.4em;
}

ol,
ul {
    padding-left: var(--list-indent);
    margin-left: 0;
}

.dialog > ul {
  list-style-type: "— ";
  padding-left: 2ch;
}

dd {
    margin-left: var(--list-indent);
    padding-left: 0;
}

dd,
dt {
    margin-bottom: 0.5em;
}

li,
dd p {
    margin: 0.2em 0;
}

a[href] {
  color: var(--fg-accent);
  text-decoration: none;
}

a[href]:hover {
  text-decoration: underline;
}


/**
 * ╭───────────────────────────────────────────────────────────────╮
 * │            Figures, Tables, Code Blocks, Quotations           │
 * ╰───────────────────────────────────────────────────────────────╯
**/

table {
    width: 100%;
}

th,
td {
    padding: 0.2em 0.5em;
}

table caption {
    caption-side: bottom;
}

figure {
    margin: 2em 0;
    text-align: center;
}

pre {
  overflow: scroll;
  background-color: var(--bg-banner);
  padding: 0.5em 1em;
}

pre code {
  background-color: transparent;
  font-family: monospace;
  font-weight: normal;
  padding: 0;
}

figure figcaption,
figure img {
  margin: auto;
  max-width: 100%;
}

img {
    max-width: 100%;
}

blockquote {
  margin: 0;
  padding: .5em 2em .5em 3em;
  position: relative;
}

blockquote::before {
  content: "\00AB";
  font-size: 2em;
  position: absolute;
  top: 0.2em;
  left: 0.5em;
  color: var(--color-palette-c)
}

blockquote::after {
    content: "\00BB";
    font-size: 1.5em;
    position: absolute;
    right: 0.25em;
    bottom: 1.5em;
    color: var(--color-palette-c)
  }

cite {
  display: block;
  text-align: right;
  text-wrap: balance;
  font-style: normal;
  color: var(--color-palette-c)
}

a[href] {
    color: var(--fg-accent);
    text-decoration: none;
}

a[href]:hover {
    text-decoration: underline;
}


/**
 * ╭───────────────────────────────────────────────────────────────╮
 * │                          Home banner                          │
 * ╰───────────────────────────────────────────────────────────────╯
**/

#homebanner {
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#homebanner h1,
#homebanner h2,
#homebanner h3,
#homebanner p {
    margin: 0;
    text-align: left;
    color: var(--home-banner-text-color);
    border: 0;
    line-height: 1.4em;
    padding-top: 0.2em;
    font-weight: 500;
}

:root {
    --keycap-color-a: #282828;
    --keycap-color-b: #202020;
    --keycap-color-c: #232323;
    --keycap-color-d: #4a4a4a;
    --keycap-color-e: #0009;
    --keycap-color-f: #0004;
    --keycap-color-i: rgba(255, 255, 255, 1.0);
    --keycap-bs-1: rgba(0, 0, 0, 0.15);
    --keycap-bs-2: rgba(0, 0, 0, 0.25);
    --keycap-bs-3: rgba(0, 0, 0, 0.75);
    --keycap-bs-4: rgba(0, 0, 0, 0.25);
}

@media (prefers-color-scheme: dark) {
    :root {
        --keycap-color-a: #f8f8f8;
        --keycap-color-b: #f2f2f2;
        --keycap-color-c: #f0f0f0;
        --keycap-color-d: #d5d5d5;
        --keycap-color-e: #fff9;
        --keycap-color-f: #fff4;
        --keycap-color-i: rgba(0, 0, 0, 0.8);
        --keycap-bs-1: rgba(0, 0, 0, 0.15);
        --keycap-bs-2: rgba(0, 0, 0, 0.25);
        --keycap-bs-3: rgba(0, 0, 0, 0.25);
        --keycap-bs-4: rgba(0, 0, 0, 0.25);

    }
}

.highlight ul li {
    list-style: none;
}

.highlight ul li::before {
    content: '';
    display: inline-block;
    height: 1.0em;
    width: 1.0em;
    margin-right: 0.5em;
    background-image: url("../favicon-list-item.svg");
    background-size: contain;
}


span.keycap {
    vertical-align: middle;
    position: relative;
    display: inline-block;
    width: var(--keycap-width);
    height: calc(var(--keycap-width)*1.2);
    padding: calc(var(--keycap-width)/10) calc(var(--keycap-width)/5);
    margin: calc(var(--keycap-width)/10) calc(var(--keycap-width)/20);
    border-radius: calc(var(--keycap-width)/8);
    background: linear-gradient(180deg, var(--keycap-color-a), var(--keycap-color-b));
    box-shadow:
        inset calc(var(--keycap-width)/-10) 0 calc(var(--keycap-width)/10) var(--keycap-bs-1),
        inset 0 calc(var(--keycap-width)/-10) calc(var(--keycap-width)/10) var(--keycap-bs-2),
        0 0 0 calc(var(--keycap-width)/40) var(--keycap-bs-3),
        calc(var(--keycap-width)/8) calc(var(--keycap-width)/4) calc(var(--keycap-width)/3.2) var(--keycap-bs-4);
    overflow: hidden;
}

span.keycap::before {
    content: '';
    position: absolute;
    top: calc(var(--keycap-width)*3/80);
    left: calc(var(--keycap-width)/20);
    bottom: calc(var(--keycap-width)*7/40);
    right: calc(var(--keycap-width)*3/20);
    background: linear-gradient(90deg, var(--keycap-color-c), var(--keycap-color-d));
    border-radius: calc(var(--keycap-width)/8);
    box-shadow:
        calc(var(--keycap-width)/-8) calc(var(--keycap-width)/-8) calc(var(--keycap-width)/8) rgba(0, 0, 0, 0.20),
        calc(var(--keycap-width)/8) calc(var(--keycap-width)/16) calc(var(--keycap-width)/8) rgba(0, 0, 0, 0.25);
    border-top: 1px solid var(--keycap-color-e);
    border-bottom: 1px solid var(--keycap-color-f);
    border-left: 1px solid var(--keycap-color-f);
}

span.keycap i {
    position: relative;
    top: 0.2em;
    left: 0;
    padding: 0 0.25em;
    color: var(--keycap-color-i);
    font-style: normal;
    font-size: 1.5em;
    text-transform: uppercase;
}

span.keycap.auto {
    width: auto;
}

#homebanner .inner-container {
    text-align: left;
    background:
        linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)),
        left center/140px auto no-repeat url("../favicon.svg");
    padding-left: calc(140px + 1em);
}

@media (prefers-color-scheme: dark) {
    #homebanner .inner-container {
        background:
            linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
            left center/140px auto no-repeat url("../favicon.svg");
    }
}

/**
 * ╭───────────────────────────────────────────────────────────────╮
 * │                        Header & Footer                        │
 * ╰───────────────────────────────────────────────────────────────╯
**/

#banner {
    box-sizing: border-box;
    background-color: var(--bg-banner);
    min-height: 50px;
    box-sizing: border-box;
    background-color: var(--bg-banner);
    /* padding: .5em 0 0.5em calc(var(--main-padding) + 64px); */
    /* border-bottom: 1px solid var(--fg-banner-border); */
}

#banner .inner-container {
    background: left center/50px auto no-repeat url("../favicon.svg");
    background-size: 50px;
    padding-left: calc(50px + 1em);
}

#banner .title {
    font-size: 2em;
    font-weight: bold;
}

#banner p {
    margin: 0.4em 0 0;
}

#banner,
#banner a,
footer {
    color: var(--fg-banner);
}

footer {
    padding-left: var(--main-padding);
    padding-right: var(--main-padding);
    border-top: 1px solid var(--fg-banner-border);
    text-align: right;
}

h1 {
    text-align: center;
    font-size: 2em;
    line-height: 1em;
    margin: 1.8em auto 1.2em;
}

h1+time {
    display: block;
    text-align: right;
    margin: -1.5em auto 0;
}

h1+p {
    text-align: center;
    text-wrap: balance;
    margin: -1em auto 2em;
}

footer {
    padding-bottom: 0.5rem;
}

footer small {
    float: left;
}


/**
 * ╭───────────────────────────────────────────────────────────────╮
 * │                        Navigation Menus                       │
 * ╰───────────────────────────────────────────────────────────────╯
**/

header+nav {
    background-color: var(--bg-main);
    box-shadow: 0 4px 6px -6px #222;
}

header+nav .inner-container {
    /* background: left 0px center no-repeat url(../favicon.svg);
  background-size: 50px; */
    padding-left: calc(50px + 1em);
    /* min-height: 60px; */
}

header+nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    align-items: center;
    padding: 0;
    margin: 0;
}

header+nav li a[href] {
    display: inline-block;
    padding: 0.2em 1em;
    font-weight: normal;
    color: var(--fg-main);
    font-size: 80%;
}

header+nav li {
    padding: 0;
    margin: 0 0.2em;
    display: inline-block;
    /* width: 3em;
  height: 3em;
  line-height: 3em;
  border: 1px solid black;
  border-radius: 0.4em;
  text-align: center;
  vertical-align: middle; */
    font-weight: 600;
}

header+nav li:has(.active) a[href] {
    /* background-color: var(--bg-main); */
    /* color: var(--fg-banner); */
    font-weight: bold;
}

/* submenus */
header+nav ul ul {
    display: none;
}

@media only screen and (min-width: 480px) {
    header+nav {
        position: sticky;
        z-index: 10;
        top: 0;
    }
}


/**
 * ╭───────────────────────────────────────────────────────────────╮
 * │                          Keys & Chars                         │
 * ╰───────────────────────────────────────────────────────────────╯
**/

kbd,
span.odk {
    /* key */
    margin: 0 2px;
    font-size: 1em;
    border: 1px outset var(--bg-key-border);
    background-color: var(--bg-key);
    padding: 2px 3px;
}

code {
    /* character, digrams, trigrams */
    font-weight: bold;
    font-family: serif;
    background-color: var(--bg-accent);
    padding: 2px 4px;
    border-radius: 2px;
}


/**
 * ╭───────────────────────────────────────────────────────────────╮
 * │                          Desktop Mode                         │
 * ╰───────────────────────────────────────────────────────────────╯
**/

@media only screen and (min-width: 768px) {
    :root {
        --main-padding: 40px;
        --list-indent: 2.5em;
    }

    .highlight {
        border-radius: 6px;
    }

  /* display navigation submenus, not sure it s a good idea though NOPE, indeed */
  header + nav li:has(.active) ul {
    display: flex;
    position: absolute;
    left: 0;
    width: 100%;
    padding: 0 var(--main-padding);
    box-sizing: border-box;
    background-color: var(--bg-main);
  }
  header + nav li:has(.active) li {
    border: none;
    font-size: smaller;
  }
  header + nav li:has(.active) a {
    color: var(--fg-accent);
  }
  header + nav li:has(.active) a.active {
    color: var(--fg-banner);
  }

  figure figcaption,
  figure img {
    max-width: 45em;
  }
}
